<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbms.dao.ComprehensiveCaseMapper">
    <cache type="com.example.dbms.config.RedisCache" eviction="LRU"/>
    <resultMap type="com.example.dbms.domain.po.ComprehensiveCase" id="ComprehensiveCase">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <id column="patient_id" property="patient_id" jdbcType="NUMERIC"/>
        <id column="heart_rate" property="heart_rate" jdbcType="NUMERIC"/>
        <id column="blood_pressure_high" property="blood_pressure_high"  jdbcType="NUMERIC"/>
        <id column="blood_pressure_low" property="blood_pressure_low"  jdbcType="NUMERIC"/>
        <id column="ultrasonicef" property="ultrasonicef"  jdbcType="NUMERIC"/>
        <id column="lv" property="lv"  jdbcType="NUMERIC"/>
        <id column="triglyceride" property="triglyceride"  jdbcType="FLOAT"/>
        <id column="blood_sugur" property="blood_sugur"  jdbcType="FLOAT"/>
        <id column="triglyceride" property="triglyceride"  jdbcType="FLOAT"/>
        <id column="creatinine" property="creatinine"  jdbcType="FLOAT"/>
        <id column="ldlc" property="ldlc"  jdbcType="FLOAT"/>
        <id column="hdlc" property="hdlc"  jdbcType="FLOAT"/>
        <id column="hscp" property="hscp"  jdbcType="FLOAT"/>
        <id column="lipoprotein_a" property="lipoprotein_a"  jdbcType="FLOAT"/>
        <id column="bmi" property="bmi"  jdbcType="FLOAT"/>
        <id column="ffr" property="ffr"  jdbcType="FLOAT"/>
        <id column="bnp" property="bnp"  jdbcType="FLOAT"/>
        <id column="thyroid_function" property="thyroid_function"  jdbcType="FLOAT"/>
        <id column="blood_potassium" property="blood_potassium"  jdbcType="FLOAT"/>
        <id column="blood_sodium" property="blood_sodium"  jdbcType="FLOAT"/>
    </resultMap>
    <insert id="insertComprehensiveCase">
    insert into comprehensive_case(patient_id,heart_rate,blood_pressure_high,blood_pressure_low,
            ultrasonicef,lv,triglyceride,blood_sugur,creatinine,ldlc,hdlc,hscp,lipoprotein_a,
            glycated_hemoglobin,bmi,ffr,bnp,thyroid_function,blood_potassium,blood_sodium) values
            (#{patient_id}, #{heart_rate}, #{blood_pressure_high}, #{blood_pressure_low},
            #{ultrasonicef}, #{lv}, #{triglyceride}, #{blood_sugur}, #{creatinine}, #{ldlc}, #{hdlc}, #{hscp}, #{lipoprotein_a}, #{glycated_hemoglobin},
            #{bmi}, #{ffr}, #{bnp}, #{thyroid_function}, #{blood_potassium}, #{blood_sodium})
    </insert>
    <select id="findById" resultMap="ComprehensiveCase">
     select * from comprehensive_case  where patient_id = #{patient_id}
    </select>
    <update id="updateComprehensiveCase" parameterType="com.example.dbms.domain.po.ComprehensiveCase">
    update comprehensive_case set heart_rate = #{comprehensiveCase.heart_rate}, blood_pressure_high = #{comprehensiveCase.blood_pressure_high},
            blood_pressure_low = #{comprehensiveCase.blood_pressure_low}, ultrasonicef = #{comprehensiveCase.ultrasonicef},
            lv = #{comprehensiveCase.lv}, triglyceride = #{comprehensiveCase.triglyceride},blood_sugur = #{comprehensiveCase.blood_sugur},
            creatinine = #{comprehensiveCase.creatinine}, ldlc = #{comprehensiveCase.ldlc}, hdlc = #{comprehensiveCase.hdlc}, hscp = #{comprehensiveCase.hscp},
            lipoprotein_a = #{comprehensiveCase.lipoprotein_a}, glycated_hemoglobin = #{comprehensiveCase.glycated_hemoglobin}, bmi = #{comprehensiveCase.bmi},
            ffr = #{comprehensiveCase.ffr}, bnp = #{comprehensiveCase.bnp}, thyroid_function = #{comprehensiveCase.thyroid_function},
             blood_potassium = #{comprehensiveCase.blood_potassium}, blood_sodium = #{comprehensiveCase.blood_sodium}
            where patient_id = #{patient_id}
    </update>
</mapper>
